{% extends 'base.html' %}
{% block title %}Code AI Past{% endblock %}
{% block content %}
<div class="container">
<br/>
    <h1 class="text-center">Past Code</h1>
{% if code %}
{% for co in code %}
<div class="container" ></div>
<div class="bg-body-secondary">
 <strong>{{ co.id }}) </strong>{{ co.question}}
</div>
<br/>
<pre>
<code class="line-numbers language-{{ co.language }} ">
{{ co.code_answer }}
</code>
</pre>
<a  class="btn btn-danger" href="{% url 'codebot:delete_past' co.id %}">Delete</a>
<hr>
{% endfor %}
{% endif %}
<br/><br/>
</div>
{% endblock %}