{% extends 'base.html' %}
{% block title %} KI Code Erstellung {% endblock %}


{% block content %}
<div class="container">
<br/>
<h1 class="text-center">Code Erstellung</h1>
{% if response %}
<pre>
<code class="line-numbers language-{{ lang }} ">
{{ response }}

</code>
</pre>
<br/><br/>


<!-- Forms input -->
<form method="POST" action="{% url 'codebot:suggest' %}">
    {% csrf_token %}

    <div class="mb-3">
        <textarea class="form-control" name="prompt" placeholder="Was für einen Code brauchst du?" rows="3"></textarea>
    </div>
    <select class="form-select" name="lang">
      <option selected>Wähle die Programmiersprache</option>
      {% for x in lang_list %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor%}
    </select>
   <br/><br>
     <button type="submit" class="btn btn-primary">Senden</button>
</form>
<br/>

{% else %}

<pre>
<code class="line-numbers language-python">
if name == "Beispiel":
    print('Hallo Beispiel')
else:
    print('Hallo Unbekanntes Beispiel')
</code>
</pre>
<br/><br/>
<!-- Forms input -->
<form method="POST" action="{%url 'codebot:suggest'%}">
    {% csrf_token %}

    <div class="mb-3">
        <textarea class="form-control" name="prompt" placeholder="Have A.I. Suggest Code" rows="3">{{ prompt }}</textarea>
    </div>
    <select class="form-select" name="lang">
      <option selected>Select Programming Language</option>
      {% for x in lang_list %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor%}
    </select>
   <br/><br>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endif %}
</div>
{% endblock %}