{% extends 'base.html' %}
{% block title %}PIT Übersicht {%endblock%}

{% block content %}
<nav id="home" class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <a href="#zuruecksetzen" class="btn btn-sm btn-outline-secondary" type="button">Server & Schienen zum Zurücksetzen</a>
    <a href="#lager" class="btn btn-sm btn-outline-secondary" type="button">Server & Schienen im Lager</a>
    <a href="#versand" class="btn btn-sm btn-outline-secondary" type="button">Versand/Weiterleitungen</a>
    <a href="#Monitoring" class="btn btn-sm btn-outline-secondary" type="button">DPD Monitoring</a>
  </form>
</nav>
<div  class="container mt-5">
    <!-- Überschrift -->
    <h1 class="text-center mb-5 shadow">PIT Übersicht</h1>
    <hr>
    <div class="row ">
        <!-- Schiene Tortendiagramm auf der linken Seite -->
        <div class="col-md-6 d-flex flex-column align-items-center" style="height: 400px;">
            <h3 class="mb-3">Schienen</h3>
            <canvas id="schieneChart" class="flex-grow-1"></canvas>
        </div>
        <!-- Server Tortendiagramm auf der rechten Seite -->
        <div class="col-md-6 d-flex flex-column align-items-center" style="height: 400px;">
            <h3 class="mb-3">Server</h3>
            <canvas id="serverChart" class="flex-grow-1"></canvas>
        </div>
    </div>

    </br></br>
    <hr>
    <!-- Tabelle für Server und Schienen, die zurückgesetzt werden müssen -->
    <div id="zuruecksetzen" class="mt-5 shadow">
        <h2 class="text-center mb-4">Zurückzusetzende Geräte</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_to_reset %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.image }}</td>
                    <td contenteditable="true">{{ item.status }}</td>
                    <td>
                        {% if request.user.groups.all.0.name == "pit" or request.user.is_superuser %}
                        <form method="post" action="{% url 'pit:update_status' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Erledigt</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server im Lager</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                            <th>Versand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server_lager in server_lager %}
                        <tr>
                            <td>{{ server_lager.name }}</td>
                            <td>{{ server_lager.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' server_lager.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen im Lager</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                            <th>Versand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schiene_lager in schienen_lager %}
                        <tr>
                            <td>{{ schiene_lager.name }}</td>
                            <td>{{ schiene_lager.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' schiene_lager.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <a type="button" href="#home" class="btn btn-outline-primary">nach oben</a>
    <br>
<h1 id='versand' class="text-center">Versand/Weiterleitungen/Rückholungen</h1>
<hr>
<!-- versand -->
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server Versand Köln</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                            <th>Übergeben an DPD</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for srv_versand in server_versand %}
                        <tr>
                            <td>{{ srv_versand.name }}</td>
                            <td>{{ srv_versand.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' srv_versand.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen Versand Köln</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                            <th>Übergeben an DPD</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schiene_lager in schienen_lager_versand %}
                        <tr>
                            <td>{{ schiene_lager.name }}</td>
                            <td>{{ schiene_lager.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' schiene_lager.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Weitergeleitet -->
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server Weiterleitung</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                            <th>Von DPD Abgeholt</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for srv_versand in server_weiterleitung %}
                        <tr>
                            <td>{{ srv_versand.name }}</td>
                            <td>{{ srv_versand.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' srv_versand.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen Weiterleitung</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                            <th>Von DPD Abgeholt </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schiene_lager in schienen_weiterleitung %}
                        <tr>
                            <td>{{ schiene_lager.name }}</td>
                            <td>{{ schiene_lager.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' schiene_lager.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <!-- Rückholung -->
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server zurück nach Köln</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                            <th>Von DPD Abgeholt</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for srv_versand in server_zurueck %}
                        <tr>
                            <td>{{ srv_versand.name }}</td>
                            <td>{{ srv_versand.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' srv_versand.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen zurück nach Köln</h1>
                <h4 class="text-center" style="color: darkred">Warten auf DPD </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                            <th>Von DPD Abgeholt </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schiene_lager in schienen_zurueck %}
                        <tr>
                            <td>{{ schiene_lager.name }}</td>
                            <td>{{ schiene_lager.image }}</td>
                            <td><a href="{% url 'pit:update_status_dpd' schiene_lager.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a type="button" href="#home" class="btn btn-outline-primary">nach oben</a>
<br>
<h1 id="Monitoring" class="text-center">DPD Monitoring</h1>

<hr>
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server Unterwegs</h1>
                <h4 class="text-center" style="color: darkred">Mit DPD unterwegs </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                            <th>Beim Kunden</th>
                            <th>In Köln</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for srv_dpd in server_unterwegs %}
                        <tr>
                            <td>{{ srv_dpd.name }}</td>
                            <td>{{ srv_dpd.image }}</td>
                            <td><a href="{% url 'pit:update_status_standort' srv_dpd.id %}" type="button" class="btn btn-primary">Ja</a></td>
                            <td><a href="{% url 'pit:update_status_zurueck' srv_dpd.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen Unterwegs</h1>
                <h4 class="text-center" style="color: darkred">Mit DPD unterwegs </h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                            <th>Beim Kunden</th>
                            <th>In Köln</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dpd in unterwegs%}
                        <tr>
                            <td>{{ dpd.name }}</td>
                            <td>{{ dpd.image }}</td>
                            <td><a href="{% url 'pit:update_status_standort' dpd.id %}" type="button" class="btn btn-primary">Ja</a></td>
                            <td><a href="{% url 'pit:update_status_zurueck' dpd.id %}" type="button" class="btn btn-primary">Ja</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<a type="button" href="#home" class="btn btn-outline-primary">nach oben</a>
</div>



{% endblock %}





