{% extends 'base.html' %}
{% block title %}PIT Übersicht {%endblock%}

{% block content %}
<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <a href="#zuruecksetzen" class="btn btn-sm btn-outline-secondary" type="button">Server & Schienen zum Zurücksetzen</a>
    <a href="#lager" class="btn btn-sm btn-outline-secondary" type="button">Server & Schienen im Lager</a>
    <a href="{% url 'pit:kueb' %}" class="btn btn-sm btn-outline-secondary" type="button">Schienen Zurück|weiterleiten </a>
    <a href="{% url 'pit:course_table' %}" class="btn btn-sm btn-outline-secondary" type="button">Schienenlogistik</a>
  </form>
</nav>
<div class="container mt-5">
    <!-- Überschrift -->
    <h1 class="text-center mb-5 shadow">PIT Übersicht</h1>
    <hr>
    <div class="row ">
        <!-- Schiene Tortendiagramm auf der linken Seite -->
        <div class="col-md-6 d-flex flex-column align-items-center" style="height: 400px;">
            <h3 class="mb-3">Schienen</h3>
            <canvas id="schieneChart" class="flex-grow-1"></canvas>
        </div>
        <!-- Server Tortendiagramm auf der rechten Seite -->
        <div class="col-md-6 d-flex flex-column align-items-center" style="height: 400px;">
            <h3 class="mb-3">Server</h3>
            <canvas id="serverChart" class="flex-grow-1"></canvas>
        </div>
    </div>
    </br></br>
    <hr>
    <!-- Tabelle für Server und Schienen, die zurückgesetzt werden müssen -->
    <div id="zuruecksetzen" class="mt-5 shadow">
        <h2 class="text-center mb-4">Zurückzusetzende Geräte</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_to_reset %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.image }}</td>
                    <td contenteditable="true">{{ item.status }}</td>
                    <td>
                        {% if request.user.groups.all.0.name == "pit" or request.user.is_superuser %}
                        <form method="post" action="{% url 'pit:update_status' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Erledigt</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="lager" class="row">
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Server im Lager</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Geeignet für:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server_lager in server_lager %}
                        <tr>
                            <td>{{ server_lager.name }}</td>
                            <td>{{ server_lager.image }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-4 shadow">
                <h1 class="text-center">Schienen im Lager</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schiene</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schiene_lager in schienen_lager %}
                        <tr>
                            <td>{{ schiene_lager.name }}</td>
                            <td>{{ schiene_lager.image }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% comment %}
<!-- Tabelle für Schienen, die zurückgeholt oder weitergeleitet werden müssen -->
    <div id="holen" class="mt-5 shadow">
        <h2 class="text-center mb-4">Zurückzuholende oder Weiterzuleitende Schienen</h2>
        <table class="table table-bordered clickable-table">
            <thead>
                <tr>
                    <th>Name der Schiene</th>
                    <th>Kunde</th>
                    <th>Rückholungsdatum</th>
                    <th>Zurück</th>
                    <th>Weiterleitung</th>
                </tr>
            </thead>
            <tbody>
                {% for schiene_bewegung in schienen_to_reset %}
                <tr data-va_nummer="{{ schiene_bewegung.kurs.va_nummer }}" data-thema="{{ schiene_bewegung.kurs.thema }}" data-trainer="{{ schiene_bewegung.kurs.trainer.name }}">
                    <td>{{ schiene_bewegung.schiene.name }}</td>
                    <td>{{ schiene_bewegung.kunde.name }} ({{ schiene_bewegung.kunde.ansprechpartner.Anrede }} {{ schiene_bewegung.kunde.ansprechpartner.vorname }} {{ schiene_bewegung.kunde.ansprechpartner.nachname }})</td>
                    <td>{{ schiene_bewegung.rueckholung_datum }}</td>
                    <td>
                        {% if request.user.groups.all.0.name == "pit" or request.user.is_superuser %}
                        <form method="post" action="{% url 'pit:update_status_zurueck' schiene_bewegung.schiene.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Zurück gekommen</button>
                        </form>
                       {% endif %}
                    </td>
                    <td>
                        {% if request.user.groups.all.0.name == "pit" or request.user.is_superuser %}
                        <!-- Button, um das Popup zu öffnen -->
                        <button data-id="{{ schiene_bewegung.schiene.id }}" onclick="openPopup(this)">Weiterleitung</button>

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endcomment %}
</div>
<!-- Popup-Fenster -->
<div id="popup" style="display:none;">
    <h2>Weiterleitung</h2>
    <form id="weiterleitungForm">
        Schiene ID: <input type="text" id="schiene_id"><br>
        Kunde ID: <input type="text" id="kunde_id"><br>
        Datum Versand: <input type="date" id="datum_versand"><br>
        Rückholung Datum: <input type="date" id="rueckholung_datum"><br>
        <button type="button" onclick="submitForm()">Weiterleiten</button>
    </form>
</div>
{% endblock %}

<!-- Hinzugefügtes JavaScript -->
<script>

    }
let currentSchieneId = null;
function openPopup(buttonElement) {
    currentSchieneId = buttonElement.getAttribute("data-id");
    document.getElementById("schiene_id").value = currentSchieneId;
    document.getElementById("popup").style.display = "block";
}

    function submitForm() {
        const schiene_id = currentSchieneId;
        const kunde_id = document.getElementById("kunde_id").value;
        const datum_versand = document.getElementById("datum_versand").value;
        const rueckholung_datum = document.getElementById("rueckholung_datum").value;

        fetch('{% url "pit:schiene_weiterleiten" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: `schiene_id=${schiene_id}&kunde_id=${kunde_id}&datum_versand=${datum_versand}&rueckholung_datum=${rueckholung_datum}`
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Erfolgreich weitergeleitet');
                location.reload();
            } else {
                alert('Fehler: ' + data.message);
            }
        });
    }
</script>




