{% extends 'base.html' %}
{% block title %} Code AI Fix code {% endblock %}
{% block content %}
{% comment %}
    {% include 'messages.html' %}
{% endcomment %}
<div class="container">
<br/>
<h1 class="text-center">KI Korrektur oder Text Erstellung</h1>
{% if response %}
<pre>
<code class="line-numbers language-text">
{{ response }}

</code>
</pre>
<br/><br/>


<!-- Forms input -->
<form method="POST" action="{% url 'textbot:home' %}">
    {% csrf_token %}

    <div class="mb-3">
        <textarea class="form-control" name="text" placeholder="Was für ein Text soll geschrieben werden" rows="3"></textarea>
    </div>
    <select class="form-select" name="lang">
      <option selected>Select Language</option>
      {% for x in lang_list %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor%}
    </select>
   <br/><br>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>

{% else %}

<pre>
<code class="line-numbers language-text">
Ich bin ein Beisoiel
</code>
</pre>
<br/><br/>
<!-- Forms input -->
<form method="POST" action="{%url 'textbot:home'%}">
    {% csrf_token %}

    <div class="mb-3">
        <textarea class="form-control" name="text" placeholder="Have A.I. fix My Text" rows="3">{{ text }}</textarea>
    </div>
    <select class="form-select" name="lang">
      <option selected>Select Language</option>
      {% for x in lang_list %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor%}
    </select>
   <br/><br>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
{% endif %}
</div>
{% endblock %}