{% extends 'base.html' %}
{% block title %}Text AI Past{% endblock %}
{% block content %}
{% include 'messages.html' %}
<div class="container">
<br/>
    <h1 class="text-center">Past Text</h1>
{% if text %}
{% for tx in text %}
<div class="container" ></div>
<div class="bg-body-secondary">
 <strong>{{ tx.id }}) </strong>{{tx.question}}
</div>
<br/>
<pre>
<code class="line-numbers language-text ">
{{ tx.text_answer }}
</code>
</pre>
<a  class="btn btn-danger" href="{% url 'textbot:delete_past' tx.id %}">Delete</a>
<hr>
{% endfor %}
{% endif %}
<br/><br/>
</div>
{% endblock %}