<script>
document.addEventListener('DOMContentLoaded', function() {
    // Schiene Tortendiagramm
    var schieneCtx = document.getElementById('schieneChart').getContext('2d');
    var schieneData = {
        labels: ['Lager', 'Unterwegs', 'Zurücksetzen', 'Imagen',  'Am Standort', 'Abholung',],
        datasets: [{
            data: [
                {{ lager_count }},
                {{ unterwegs_count }},
                {{ zurücksetzen_count }},
                {{ imagen_count }},
                {{ schienen_standort_count }},
                {{ schiene_lager_versand_count }},

            ],
            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0','#4bc055', '#b66ecc' ],
            hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0','#4bc055', '#ac3ccf'  ]
        }]
    };
    var schienePieChart = new Chart(schieneCtx, {
        type: 'pie',
        data: schieneData,
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });

    // Server Tortendiagramm
    var serverCtx = document.getElementById('serverChart').getContext('2d');
    var serverData = {
        labels: ['Lager', 'Unterwegs', 'Zurücksetzen', 'Am Standort', 'Versand'],
        datasets: [{
            data: [
                {{ server_lager_count }},
                {{ server_unterwegs_count }},
                {{ server_zurücksetzen_count }},
                {{ server_standort_count }},
                {{ server_versand_count }},
            ],
            backgroundColor: ['#FF9999', '#66B2FF', '#FFCC66','#4bc055', '#b66ecc'],
            hoverBackgroundColor: ['#FF6666', '#3399FF', '#FFB366','#4bc055', '#ac3ccf']
        }]
    };
    var serverPieChart = new Chart(serverCtx, {
        type: 'pie',
        data: serverData,
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
});
</script>
<!-- Hinzugefügtes JavaScript -->
<script>
  // JavaScript zum Scrollen nach oben
  const scrollToTopButton = document.getElementById("scrollToTop");

  window.addEventListener("scroll", () => {
    if (window.pageYOffset > 300) {
      scrollToTopButton.classList.add("show");
    } else {
      scrollToTopButton.classList.remove("show");
    }
  });

  scrollToTopButton.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<script>
    let currentSchieneId; // Speichert die aktuelle Schiene-ID

    function schieneZurueck(schieneId) {
        // AJAX-Anfrage zum Zurücksetzen der Schiene
        // ...
    }

    function schieneWeiterleiten(schieneId) {
        currentSchieneId = schieneId; // Speichern Sie die aktuelle Schiene-ID
        // Öffnen des Bootstrap-Modals
        let weiterleitungModal = new bootstrap.Modal(document.getElementById('weiterleitungModal'));
        weiterleitungModal.show();
    }

    // AJAX-Anfrage, wenn der Button im Modal gedrückt wird
    document.getElementById('submitWeiterleiten').addEventListener('click', function() {
        let kunde = document.getElementById('kunde').value;
        let weiterleitungsDatum = document.getElementById('weiterleitungsDatum').value;
        let rueckholungDatum = document.getElementById('rueckholungDatum').value;

        // Ihre AJAX-Anfrage hier, verwenden Sie currentSchieneId und die Formulardaten
        // ...
    });
</script>
<script>
  // Aktualisiertes JavaScript
  document.addEventListener("DOMContentLoaded", function() {
    // Referenzen zu den Elementen
    const dpdCheckbox = document.getElementById("dpd_beauftragt");
    const weiterleitenButton = document.getElementById("weiterleiten_button");
    const zurueckButton = document.getElementById("zurueck_button");

    // Event-Listener für das Checkbox-Element
    dpdCheckbox.addEventListener("change", function() {
      if(this.checked) {
        weiterleitenButton.removeAttribute("disabled");
        zurueckButton.removeAttribute("disabled");
      } else {
        weiterleitenButton.setAttribute("disabled", "disabled");
        zurueckButton.setAttribute("disabled", "disabled");
      }
    });
  });
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const draggables = document.querySelectorAll('.card');
        const containers = document.querySelectorAll('.col-3');

        draggables.forEach(draggable => {
            draggable.addEventListener('dragstart', () => {
                draggable.classList.add('dragging');
            });

            draggable.addEventListener('dragend', () => {
                draggable.classList.remove('dragging');
                // Code, um die neue Position in der Datenbank zu speichern
            });
        });

        containers.forEach(container => {
            container.addEventListener('dragover', (e) => {
                e.preventDefault();
                const dragging = document.querySelector('.dragging');
                container.appendChild(dragging);
            });
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    $('#kursDetailsModal').on('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var vaNummer = button.getAttribute('data-va-nummer');
        // Hier können Sie AJAX verwenden, um Kursdetails basierend auf vaNummer zu laden und im Modal anzuzeigen
    })
});
</script>

