<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
              {% if request.user.groups.all.0.name == "pit" or request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'pit:info' %}">
                <svg class="bi"><use xlink:href="#house-fill"/></svg>
                PIT Home
              </a>
            </li>
             {%  endif %} 
          {% if request.user.groups.all.0.name == "orga" or request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'kurs:kurs_uebersicht' %}">
                <svg class="bi"><use xlink:href="#house-fill"/></svg>
                Orga Home
              </a>
            </li>
             {%  endif %} 
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'pit:create_schiene' %}">
                <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                Schiene hinzufügen
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'pit:create_server' %}">
                <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                Server hinzufügen
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#cart"/></svg>
                Kurse
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'kunde:create_kunde' %}">
                <svg class="bi"><use xlink:href="#people"/></svg>
                Kunde Adressen
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'pit:create_versand' %}">
                <svg class="bi"><use xlink:href="#cart"/></svg>
                Versand
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#cart"/></svg>
                Rückholung
              </a>
            </li>

          </ul>


          <hr class="my-3">

          <ul class="nav flex-column mb-auto">
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'admin:index' %}">
                <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                Admin Debug Dashboard
              </a>
            </li>
          {% endif %}
           <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'django-admindocs-docroot' %}">
                <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                Zu den Admin-Dokumenten
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'start:logout' %}">
                <svg class="bi"><use xlink:href="#door-closed"/></svg>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
